@import url("https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Handlee&family=Inter:wght@400;700&family=Mukta:wght@300;400;500;600;700&display=swap");
html {
  font-size: 62.5%;
  font-family: "Climate Crisis", cursive;
  font-family: "Handlee", cursive;
  font-family: "Inter", sans-serif;
  font-family: "Mukta", sans-serif;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

.Navbar {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffaff3;
}

a {
  text-decoration: none;
}

.Navbar__Group {
  display: flex;
  margin-right: 10rem;
  margin-bottom: 6rem;
}

.Navbar__Group__item {
  font-size: 2rem;
  margin-right: 3.2rem;
  color: black;
}
.Navbar__Group__logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2rem;
}
.Navbar__logo {
  width: 4rem;
  height: 4rem;
  margin-right: 1rem;
}

.Hero {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #ffaff3;
  padding-bottom: 10rem;
}

.Hero-Wrapper {
  width: 50vw;
  display: flex;
}

.Hero__image {
  width: 20rem;
  height: 20rem;
  margin-right: 20rem;
}

.Hero__content {
  width: 35rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.Hero__content__text {
  font-size: 4rem;
  line-height: 1.2;
}

.Hero__content__btn {
  width: 20rem;
  height: 4rem;
  border-radius: 25px;
  background-color: #584355;
  color: white;
  border: none;
}

.Content {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  background-color: black;
}
.Content-wraper {
  /* width: 50vw; */
  display: flex;
  gap: 8rem;
}
.Content__right__text,
.Content__left__text {
  font-size: 2rem;
  width: 20vw;
}

.yellow-text {
  color: #ffd596;
}

.pink-text {
  color: #ffddfa;
}

.blue-text {
  color: #9ce7ff;
}

.green-text {
  color: #c8ffa7;
}
